:root {
	--primary: #FF7A00;
	--secondary: #FF7A00;
	--background: #FFD6A5;
	--text: #1F3B73;
	--accent: #1F3B73;
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	color: var(--text);
}

html,
body,
main {
	width: 100%;
	height: 100%;
	margin: 0px;
}


.figure,
.figure>img {
	position: absolute;
	transition: transform 0.5s ease;
	transform: scale(1);
	width: 7em;
	height: 7em;
}

.figure:hover,
.figure>img:hover {
	transform: scale(1.1);
}

.figure_go {
	animation: tilt-shaking 0.25s;
}

@keyframes tilt-shaking {
	0% {
		transform: rotate(0deg) scale(1.1);
	}

	25% {
		transform: rotate(5deg) scale(1.1);
	}

	50% {
		transform: rotate(0eg) scale(1.1);
	}

	75% {
		transform: rotate(-5deg) scale(1.1);
	}

	100% {
		transform: rotate(0deg) scale(1.1);
	}
}
