.taskbar {
	position: fixed;
	top: 0px;
	background: var(--background);
	width: 100%;
	height: 4em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5em;
	z-index: 99999;
	border-bottom: solid;
	border-color: var(--primary);

}

.taskbar_title {
	display: flex;
	text-align: center;
	align-items: center;
}

.taskbar_title>img {
	border-radius: 1em;
	max-height: 90%;
	margin: 0.5em;
}

.taskbar_login,
.taskbar_tabs {
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: space-evenly;

}

.website_title {
	margin: 0px;
}

.website_title>a {
	text-decoration: none;
}

.taskbar_login {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.taskbar>*>a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.taskbar>*>a:hover {
	color: var(--background);
	background-color: var(--text);
}

.taskbar_tabs,
.taskbar_login,
.taskbar_title {
	height: 100%;
	width: 33%;

}
